var/
parts/
lib/
include/
eggs/
develop-eggs/
downloads/
build/
/data/
etc/
bin/
sandbox/
openerp-repos/
.installed.cfg
.idea
upgrade.py
*.log
*.pyc
atlassian-ide-plugin.xml
*~
devel_*
.mr.developer.cfg
eggs-custom/
odoo-repos
